.main{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    padding-bottom: 5px;
}
.head-link{
    width: 100%;
    height: 50px;
    background-color: yellow;
    text-align: center;
}
.main2{
    width: 100%;
    height: 900px;
    background-color: bisque;
}
.content{
    float: right;
    width: 84%;
    height: 900px;
    background-color: brown;
}
.list-bar{
    float: left;
    width: 300px;
    height: 900px;
    background-color: aqua;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
}